body{
	
font-family: "Serif", "Georgia", fantasy;
	
color: #000000;
	background-color: #00004d;
	
text-shadow: 1px 1px #4d4d00;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #4d4d00;

}


td, th {
    
border: 1px solid #C6C6C6;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #C6C6C6;

}